body {
    background-color: var(--bg-dark);
    color: var(--text-primary);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

form {
    background-color: var(--bg-dark);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid var(--block-border-color-dark);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 14px;
}

.form-control {
    width: 94%;
    padding: 12px 15px;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-primary);
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(67, 97, 238, 0.3);
}

.form-control::placeholder {
    color: var(--text-secondary);
    opacity: 0.7;
}

.form-text {
    margin-top: 8px;
    font-size: 12px;
    color: var(--text-secondary);
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    accent-color: var(--accent-color);
}

.form-check-label {
    margin-bottom: 0;
    cursor: pointer;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: var(--accent-color);
    color: white;
}

.btn-primary:hover {
    background-color: #5f00f7;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(70, 0, 120, 0.435);
}

.btn-primary:active {
    transform: translateY(0);
}

/* Добавим немного дополнительных стилей для состояний ошибки */
.form-control.is-invalid {
    border-color: var(--error-color);
}

.invalid-feedback {
    color: var(--error-color);
    font-size: 12px;
    margin-top: 5px;
}
